@use "sass:math";

@mixin equilateral($side,$position,$color){
    // 正三角形を生成する
    width: 0px;
    height: 0px;
    border: #{$side} solid transparent;

    $long: calc($side * math.sqrt(3));

    @if($position == bottom){
        // 下向きの三角形
        border-top: $long solid $color;
        border-bottom-width: 0;
    }@else if($position == left){
        // 左向きの三角形
        border-right: $long solid $color;
    }@else if($position == right){
        // 右向きの三角形
        border-left: $long solid $color;
    }@else if($position == top){
        // 上向きの三角形
        border-bottom: $long solid $color;
    }
}
