@use "sass:math";

@mixin side_and_height($side,$height,$position,$color){
    // 三角形の高さと幅から三角形を生成する
    width: 0px;
    height: 0px;
    border: #{$side} solid transparent;

    @if($position == bottom){
        // 下向きの三角形
        border: {
            top: $height solid $color;
            bottom-width: 0;
        }
    }@else if($position == left){
        // 左向きの三角形
        border: {
            right: $height solid $color;
            left-width: 0;
        };
    }@else if($position == right){
        // 右向きの三角形
        border: {
            left: $height solid $color;
            right-width: 0;
        };
    }@else if($position == top){
        // 上向きの三角形
        border: {
            bottom: $height solid $color;
            top-width: 0;
        };
    }
}

@mixin equilateral($side,$position,$color){
    // 正三角形を生成する
    // sideは辺の長さ、heightは三角形の高さ
    $height: calc($side * math.sqrt(3));

    @include side_and_height($side, $height, $position, $color);
}
