@use "sass:math";

@mixin equilateral($side,$position,$color){
    // 正三角形を生成する
    width: 0px;
    height: 0px;
    border: #{$side} solid transparent;

    $long: calc($side * math.sqrt(3));

    @if($position == bottom){
        // 下向きの三角形
        border-top: $long solid $color;
    }
}
